# Demo 2_2
 

# 索引

[建立一個範例數據集](#建立一個範例數據集)

[對應有序特徵](#對應有序特徵)

[類別標籤編碼](#類別標籤編碼)

<br>

## 建立一個範例數據集

In [19]:
import pandas as pd

df = pd.DataFrame([['green', 'S', 100, 'class1'],
                   ['red', 'M', 120, 'class2'],
                   ['blue', 'L', 150, 'class1']])

df.columns = ['color', 'size', 'price', 'classlabel']
df

   color size  price classlabel
0  green    S    100     class1
1    red    M    120     class2
2   blue    L    150     class1

練習:
建立標題是'A,B,C,D'

資料內容是
'1.0,2.0,3.0,4.0,
5.0,6.0,,8.0,
10.0,11.0,12.0,'
的範例數據集

In [15]:
df= pd.DataFrame([[1.0,2.0,3.0,4.0],[5.0,6.0,None,8.0],[None,10.0,11.0,12.0]],columns=['A','B','C','D'])

In [16]:
df

     A     B     C     D
0  1.0   2.0   3.0   4.0
1  5.0   6.0   NaN   8.0
2  NaN  10.0  11.0  12.0

## 對應有序特徵

In [20]:
size_mapping = {'L': 3,
                'M': 2,
                'S': 1}

df['size'] = df['size'].map(size_mapping)
df

   color  size  price classlabel
0  green     1    100     class1
1    red     2    120     class2
2   blue     3    150     class1

In [23]:
size_mapping.item?

Object `size_mapping.item` not found.

In [22]:
inv_size_mapping = {v: k for k, v in size_mapping.items()}
df['size'].map(inv_size_mapping)

0    S
1    M
2    L
Name: size, dtype: object

## 類別標籤編碼

In [6]:
df

   color  size  price classlabel
0  green     1    100     class1
1    red     2    120     class2
2   blue     3    150     class1

In [4]:
import numpy as np

# 建立對應字典
# 將類標籤從字符串轉換為整數
class_mapping = {label: idx for idx, label in enumerate(np.unique(df['classlabel']))}
class_mapping

{'class1': 0, 'class2': 1}

In [1]:
enumerate?

Init signature: enumerate(iterable, start=0)
Docstring:
Return an enumerate object.

  iterable
    an object supporting iteration

The enumerate object yields pairs containing a count (from start, which
defaults to zero) and a value yielded by the iterable argument.

enumerate is useful for obtaining an indexed list:
    (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
Type:           type
Subclasses:

In [8]:
df['classlabel'] = df['classlabel'].map(class_mapping)
df

   color  size  price  classlabel
0  green     1    100           0
1    red     2    120           1
2   blue     3    150           0

In [11]:
class_mapping.items()

dict_items([('class1', 0), ('class2', 1)])

In [9]:
inv_class_mapping = {v: k for k, v in class_mapping.items()}
df['classlabel'] = df['classlabel'].map(inv_class_mapping)
df

   color  size  price classlabel
0  green     1    100     class1
1    red     2    120     class2
2   blue     3    150     class1

In [10]:
from sklearn.preprocessing import LabelEncoder

# 使用sklearn類別標籤功能
class_le = LabelEncoder()
y = class_le.fit_transform(df['classlabel'].values)
y

array([0, 1, 0])

In [7]:
# 反轉對應
class_le.inverse_transform(y)

array(['class1', 'class2', 'class1'], dtype=object)