In [3]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)

In [4]:
df = pd.read_csv('../csv/cleaned_csv/cleanedData_20210804.csv', index_col=0)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (1,6,12,36) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
df

,id,car_brand,car_model,car_year,car_mileage,car_price,car_color,car_cylinderVolume,car_driveMode,car_fuel,car_gear,verified,car_address,car_title,car_photo,dealer_name,dealer_address,sunroof,TPMS,SRS,keyless,ESP,ABS,cruise_sys,HID_head,isofix,electric_seat,auto_AC,navi_sys,IVI_sys,leather_seat,parking_radar,parking_camera,BSM,LDW,source,car_door,car_seat,theft_alarm,central_lock,TCS,LED_head,SW_button,ACC
0,236581,TOYOTA,ALTIS,2009.0,197710.0,196000,黑,1800.0,2.0,汽油,手自排,1.0,高雄市,豐田ALTIS 1800cc 2009年 黑色0頭款可全貸,https://www.hotcar.com.tw/UPLOAD/CW/HF1002/260...,上暘汽車,高雄市鳥松區神農路856號,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,HOT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,236578,MITSUBISHI,DELICA,2016.0,81609.0,358000,深藍,2400.0,2.0,汽油,手排,1.0,高雄市,三菱得利卡2400cc 2016年框式附加吊桿0頭款可全貸,https://www.hotcar.com.tw/UPLOAD/CW/HF1002/260...,上暘汽車,高雄市鳥松區神農路856號,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,HOT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,236571,SUZUKI,CARRY,2013.0,53167.0,286000,銀,1600.0,2.0,汽油,手排,1.0,高雄市,鈴木吉利 1590cc 2013年銀色0頭款可全貸,https://www.hotcar.com.tw/UPLOAD/CW/HF1002/260...,上暘汽車,高雄市鳥松區神農路856號,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,HOT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,236495,NISSAN,MARCH,2013.0,92757.0,238000,淺綠,1500.0,2.0,汽油,自排,1.0,台中市,新手駕駛首選 顯眼 小台 好停車 好照顧,https://www.hotcar.com.tw/UPLOAD/CW/HD1076/260...,聖傑汽車(烏日店),台中市烏日區中山路三段903號,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,HOT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,236493,NISSAN,SENTRA,2015.0,43307.0,378000,白,1800.0,2.0,汽油,手自排,1.0,台中市,Aero 旗艦版 電動座椅調整 4安 多合一影音,https://www.hotcar.com.tw/UPLOAD/CW/HD1076/260...,聖傑汽車(烏日店),台中市烏日區中山路三段903號,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,HOT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,101124711340,VOLVO,C30,2011.0,74569.0,"250,000",銀,2200.0,NaN,汽油,手自排,NaN,新北市,A自售 2011年 VOLVO C30 2.0L,https://ct.yimg.com/xd/api/res/1.2/68y95jl4xnJ...,['Y5038709999'],新北市五股區新城一路,1.0,NaN,1.0,1.0,NaN,NaN,1.0,0.0,NaN,1.0,1.0,0.0,1.0,NaN,NaN,0.0,NaN,0.0,yahoo,3.0,NaN,NaN,NaN,1.0,0.0,NaN,NaN
746,101123612053,SMART,FORTWO,2015.0,50000.0,"250,000",白,1200.0,NaN,汽油,手自排,NaN,彰化縣,2015年 SMART 5萬公里 原鈑件 精選車況 市區超好停,https://ct.yimg.com/xd/api/res/1.2/cTkvsflnawb...,['Y1632399519'],彰化縣員林鎮至善街33號,1.0,NaN,1.0,1.0,NaN,NaN,1.0,0.0,NaN,1.0,1.0,0.0,1.0,NaN,NaN,0.0,NaN,0.0,yahoo,3.0,NaN,NaN,NaN,1.0,0.0,NaN,NaN
747,101122338352,LEXUS,IS,2009.0,107508.0,"250,000",銀,2600.0,NaN,汽油,手自排,NaN,新北市,疫情振興專案 原廠保養 凌志 IS250 2009年 認證優質好車,https://ct.yimg.com/xd/api/res/1.2/ImixFqPKS3c...,['Y6785103599'],新北市汐止區康寧街附近,1.0,NaN,1.0,1.0,NaN,NaN,1.0,0.0,NaN,1.0,1.0,1.0,1.0,NaN,NaN,1.0,NaN,0.0,yahoo,4.0,NaN,NaN,NaN,1.0,0.0,NaN,NaN
748,101120157122,SKODA,FABIA,2009.0,270668.0,"250,000",紅,1200.0,NaN,汽油,手自排,NaN,彰化縣,2009 Skoda Fabia 一手車 省稅金 好保養,https://ct.yimg.com/xd/api/res/1.2/lAurFTLJStq...,['Y0821500583'],彰化縣鹿港鎮中正路306號,1.0,NaN,1.0,1.0,NaN,NaN,1.0,0.0,NaN,1.0,1.0,1.0,1.0,NaN,NaN,1.0,NaN,0.0,yahoo,5.0,NaN,NaN,NaN,1.0,0.0,NaN,NaN
749,101120131242,BMW,3SERIESSEDAN,2014.0,66487.0,"250,000",灰,2200.0,NaN,汽油,手自排,NaN,新北市,[歐德義國際] 2014年 BMW 320 貴婦買菜車託售,https://ct.yimg.com/xd/api/res/1.2/1lVn_EC9Xu1...,['Y0920017720'],新北市五股區新城一路60號,1.0,NaN,1.0,1.0,NaN,NaN,1.0,1.0,NaN,1.0,1.0,1.0,1.0,NaN,NaN,1.0,NaN,0.0,yahoo,4.0,NaN,NaN,NaN,1.0,0.0,NaN,NaN

In [13]:
df['car_brand'].unique()

array(['TOYOTA', 'MITSUBISHI', 'SUZUKI', 'NISSAN', 'FORD', 'HONDA',
       'MAZDA', 'HYUNDAI', 'LUXGEN', 'SUBARU', 'LEXUS', 'HINO', 'KIA',
       'BMW', 'VOLKSWAGEN', 'LAND ROVER', 'M-BENZ', 'SKODA', 'MINI',
       'VOLVO', 'AUDI', 'SMART', 'PEUGEOT', 'PORSCHE', 'CITROEN',
       'INFINITI', 'JAGUAR', 'MCC', 'SSANGYONG', 'MAHINDRA', 'ISUZU',
       'LAMBORGHINI', 'DFSK', 'FERRARI', 'ALFA ROMEO', 'CHEVROLET',
       'DODGE', 'DAIHATSU', 'MASERATI', 'PROTON', 'OPEL', 'FOTON', 'TOBE',
       'SAAB', 'FIAT', 'JEEP', 'BENTLEY', 'BENZ', 'VW', 'LAND', 'MCLAREN',
       'CHRYSLER', 'TESLA', 'MERCEDES-BENZ', 'BUICK', 'CMC', 'AUSTIN',
       'RENAULT', 'HUMMER', 'MG', 'SCION', 'ROLLS-ROYCE', 'ACURA',
       'CADILLAC', 'IVECO', 'FORMOSA', 'ASTON MARTIN', 'ASIA', nan, '中華',
       'ŠKODA', 'MERCEDESBENZ', 'LANDROVER', 'ALFAROMEO'], dtype=object)

In [22]:
df.loc[df['car_brand'] == 'BENZ', 'car_model'].unique()

array(['E-CLASS COUPE C207 ', 'CLA-CLASS', 'GLA-CLASS X156 ',
       'E-CLASS W213 ', 'C-CLASS SEDAN W205 ', 'E-CLASS W212 ',
       'A-CLASS W177', 'C-CLASS W205 COUPE ', 'GLE-CLASS COUPE ',
       'GLC-CLASS COUPE ', 'B-CLASS W246 ', 'C-CLASS SEDAN W204 ',
       'V-CLASS W447 ', 'C-CLASS ESTATE ', 'A-CLASS W176',
       'CLS-CLASS W218 ', 'GLC-CLASS ', 'GLE-CLASS', 'SLK-CLASS R172 ',
       'S-CLASS W222 ', 'CLA-CLASS SHOOTING BRAKE ', 'GLB-CLASS',
       'E-CLASS ESTATE S213 ', 'R-CLASS W251', 'M-CLASS W166 ',
       'GL-CLASS X164 ', 'E-CLASS W210 ', 'C-CLASS COUPE W204',
       'GLE-CLASS ', 'C-CLASS W204 ', 'M-CLASS W164 ', 'S-CLASS W221 ',
       'M-CLASS W166', 'SL-CLASS R230 ', 'E-CLASS W211 ',
       'C-CLASS SEDAN W203 ', 'SLK-CLASS R171 ', 'R-CLASS W251 ',
       'E-CLASS W207 ', 'GLK-CLASS X204 ', 'B-CLASS W245 ',
       'CLS-CLASS W219', 'M-CLASS W164', 'S-CLASS W220 ', 'C-CLASS W203 ',
       'A-CLASS SEDAN V177', 'E-CLASS ESTATE S212 ', 'METRIS',
       'SLC-CLASS R172 ', '300E', 'GLA-CLASS X157', 'X-CLASS ',
       'E-CLASS ', 'C-CLASS W202', 'C-CLASS COUPE W203 ',
       'SLK-CLASS R170', 'AMG GT', 'SL-CLASS R129', 'E-CLASS W123 ',
       'S-CLASS ', 'G-CLASS W463 ', 'GLC300', 'A250', 'GLA250',
       'GLC300 COUPE', 'GLB250', 'GLA 250', 'CLA250', 'A220', 'GLC43',
       'VITO', 'GLA180', 'C300', 'C43', 'CLS53 AMG', 'GLE43', 'CLA200',
       'C200', 'C250', 'GLE400', 'E200', 'E300', 'GLE350D', 'GLC250',
       'X250D', 'E250', 'E220 CDI', 'A45', 'A180', 'B180', 'V250D',
       'E63 AMG', 'E400', 'C43AMG', 'CLA45', 'C180', 'GLA200', 'C63',
       'GLA45 AMG', 'AMG GT S', 'C63 AMG', 'GLS350D', 'S400', 'SL400',
       'C63AMG', 'CLA45 AMG', 'S350L', 'S350', 'C400', 'C250T', 'A200',
       'CLS350', 'GLK220', 'E350', 'ML350', '190E', 'E220', 'B200',
       'S550', 'S400H', 'B200 CDI', 'E220D', 'SLK200', 'CLS550', 'S500',
       'R350', 'GLK300', 'SLS AMG', 'C200K', 'GLK350', 'E200K', 'S450',
       'E280', 'SLK350', 'GL450', 'C280', 'CLK280', 'VIANO', 'S500L',
       'C230K', 'E320', 'SL500', 'C240', 'SL350', 'CLK320', 'S320',
       'S320L', 'C-CLASS COUPE C63S', 'C-CLASS ESTATE C300 T',
       'B-CLASS B180', 'GLC-CLASS GLC 300', 'CLA-CLASS CLA200',
       'E-CLASS E300', 'C-CLASS C43 AMG', 'C-CLASS C450',
       'GL-CLASS GL350', 'GLE-CLASS 3.5', 'S-CLASS S400 3.0',
       'C-CLASS C300', 'GLC-CLASS GLC 250', 'GLE-CLASS 350',
       'CLA-CLASS CLA250', 'GLA-CLASS GLA250', 'S-CLASS S350',
       'CLA-CLASS CLA45 AMG', 'GLC-CLASS 43', 'E-CLASS ESTATE E55 KT AMG',
       'E-CLASS 200', 'A-CLASS A250', 'E-CLASS E55 AMG', 'C-CLASS C250',
       'E-CLASS ESTATE E350 T', 'E-CLASS E200', 'A-CLASS A35',
       'E-CLASS COUPE E200 COUPE', 'E-CLASS E350', 'E-CLASS E280',
       'V-CLASS V250', 'E-CLASS E43 AMG', 'GLB-CLASS GLB250',
       'S-CLASS COUPE S500 C', 'E-CLASS E250', 'C-CLASS ESTATE C63 T AMG',
       'C-CLASS COUPE C300 COUPE', 'CLS-CLASS CLS55 AMG',
       'GLE-CLASS 43 AMG', 'E-CLASS E53', 'E-CLASS ESTATE E200 T',
       'GT-CLASS GT53', 'C-CLASS ESTATE C43T', 'E-CLASS E400',
       'C-CLASS C400', 'GLE-CLASS 450', 'G-CLASS G500',
       'E-CLASS ESTATE E53 T', 'G-CLASS G63 AMG', 'GLK-CLASS GLK300',
       'GLA-CLASS GLA 45', 'E-CLASS E320', 'S-CLASS S500', 'E-CLASS E220',
       'GLK-CLASS GLK220', 'B-CLASS B200', 'S-CLASS S63 AMG',
       'E-CLASS E63 S', 'C-CLASS C63S', 'CLA-CLASS CLA200 SHOOTING BRAKE',
       'E-CLASS E240', 'E-CLASS COUPE E400 COUPE', 'E-CLASS E63 AMG',
       'C-CLASS C200', 'S-CLASS S550', 'S-CLASS S450', 'E-CLASS 300 E',
       'S-CLASS S320', 'A-CLASS A 220', 'GLE-CLASS 63AMG', 'C-CLASS C180',
       'GLE-CLASS 250', 'V-CLASS VITO', 'CLK-CLASS CLK320', 'C-CLASS C43',
       'GLA-CLASS GLA180', 'CLS-CLASS CLS350', 'GLK-CLASS GLK350',
       'C-CLASS C200 K', 'E-CLASS ESTATE E63 S',
       'C-CLASS COUPE C180 COUPE', 'GLE-CLASS 3.0', 'C-CLASS COUPE C43',
       'S-CLASS S400 HYBRID', 'C-CLASS COUPE C250 COUPE', 'C-CLASS C240',
       'A-CLASS A200', 'ML-CLASS ML350', 'S-CLASS S600',
       'GLA-CLASS GLA200', 'C-CLASS C32 AMG', 'E-CLASS COUPE 300 CE',
       'SL-CLASS SL55 AMG', 'E-CLASS COUPE E250 COUPE',
       'CLA-CLASS CLA250 SHOOTING BRAKE', 'A-CLASS A180',
       'ML-CLASS ML400', 'GLS-CLASS GLS 350D',
       'C-CLASS ESTATE C32 KT AMG', 'E-CLASS 230 E', 'ML-CLASS ML320',
       'C-CLASS C63 AMG', 'G-CLASS G350', 'C-CLASS ESTATE C250 T',
       'E-CLASS ESTATE E250 T', 'GT-CLASS GT 4.0', 'E-CLASS ESTATE E43 T',
       'E-CLASS ESTATE E320 T', 'CLS-CLASS CLS500'], dtype=object)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85124 entries, 0 to 85123
Data columns (total 80 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   85124 non-null  object
 1   car_brand            85124 non-null  object
 2   car_model            85124 non-null  object
 3   car_year             85124 non-null  float64
 4   car_mileage          83017 non-null  float64
 5   car_price            85124 non-null  float64
 6   car_color            83186 non-null  object
 7   car_cylinderVolume   85124 non-null  float64
 8   car_driveMode        79346 non-null  float64
 9   car_fuel             78469 non-null  object
 10  car_gear             84769 non-null  object
 11  verified             79437 non-null  float64
 12  car_address          81932 non-null  object
 13  car_title            83884 non-null  object
 14  car_photo            76657 non-null  object
 15  dealer_name          85124 non-null  object
 16  dealer_address       81784 non-null  object
 17  sunroof              81085 non-null  float64
 18  TPMS                 77881 non-null  float64
 19  SRS                  85124 non-null  float64
 20  keyless              81085 non-null  float64
 21  ESP                  50710 non-null  float64
 22  ABS                  84389 non-null  float64
 23  cruise_sys           78616 non-null  float64
 24  HID_head             20413 non-null  float64
 25  isofix               48227 non-null  float64
 26  electric_seat        49154 non-null  float64
 27  auto_AC              85124 non-null  float64
 28  navi_sys             81085 non-null  float64
 29  IVI_sys              81085 non-null  float64
 30  leather_seat         80350 non-null  float64
 31  parking_radar        53179 non-null  float64
 32  parking_camera       78616 non-null  float64
 33  BSM                  44380 non-null  float64
 34  LDW                  42632 non-null  float64
 35  source               85124 non-null  object
 36  car_door             45161 non-null  float64
 37  car_seat             71235 non-null  float64
 38  theft_alarm          41964 non-null  float64
 39  central_lock         41964 non-null  float64
 40  TCS                  72353 non-null  float64
 41  LED_head             45182 non-null  float64
 42  SW_button            69135 non-null  float64
 43  ACC                  10946 non-null  float64
 44  component0           85124 non-null  float64
 45  component1           85124 non-null  float64
 46  component2           85124 non-null  float64
 47  component3           85124 non-null  float64
 48  component4           85124 non-null  float64
 49  component5           85124 non-null  float64
 50  component6           85124 non-null  float64
 51  component7           85124 non-null  float64
 52  component8           85124 non-null  float64
 53  component9           85124 non-null  float64
 54  component10          85124 non-null  float64
 55  component11          85124 non-null  float64
 56  component12          85124 non-null  float64
 57  component13          85124 non-null  float64
 58  component14          85124 non-null  float64
 59  component15          85124 non-null  float64
 60  component16          85124 non-null  float64
 61  component17          85124 non-null  float64
 62  component18          85124 non-null  float64
 63  component19          85124 non-null  float64
 64  component20          85124 non-null  float64
 65  component21          85124 non-null  float64
 66  component22          85124 non-null  float64
 67  component23          85124 non-null  float64
 68  component24          85124 non-null  float64
 69  component25          85124 non-null  float64
 70  component26          85124 non-null  float64
 71  component27          85124 non-null  float64
 72  component28          85124 non-null  float64
 73  component29          85124 non-null  float64
 74  component30          85124 non-null  float64
 75  component31          85124 non-null  float64
 76  component32          85124 non-null  float64
 77  component33          85124 non-null  float64
 78  component34          85124 non-null  float64
 79  Segment K-means PCA  85124 non-null  int64
dtypes: float64(67), int64(1), object(12)
memory usage: 52.6+ MB

In [91]:
cols=['id','car_brand','car_model','car_year','car_price','car_mileage','car_address','car_title','car_photo','dealer_address','source','Segment K-means PCA']

In [92]:
df1=df[cols]

In [93]:
df1 = df1.dropna(subset=['car_brand','car_model','car_mileage','car_price'],axis=0)

In [94]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83017 entries, 0 to 85123
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   83017 non-null  object
 1   car_brand            83017 non-null  object
 2   car_model            83017 non-null  object
 3   car_year             83017 non-null  float64
 4   car_price            83017 non-null  float64
 5   car_mileage          83017 non-null  float64
 6   car_address          79825 non-null  object
 7   car_title            81777 non-null  object
 8   car_photo            74550 non-null  object
 9   dealer_address       79677 non-null  object
 10  source               83017 non-null  object
 11  Segment K-means PCA  83017 non-null  int64
dtypes: float64(3), int64(1), object(8)
memory usage: 8.2+ MB

In [95]:
df1['car_year']=df1['car_year'].astype(int)

In [96]:
df1['car_price']=df1['car_price'].astype(int)

In [97]:
df1['car_mileage']=df1['car_mileage'].astype(int)

In [50]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83017 entries, 0 to 85123
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   83017 non-null  object
 1   car_brand            83017 non-null  object
 2   car_model            83017 non-null  object
 3   car_year             83017 non-null  int64
 4   car_price            83017 non-null  int64
 5   car_mileage          83017 non-null  int64
 6   car_address          79825 non-null  object
 7   car_title            81777 non-null  object
 8   car_photo            74550 non-null  object
 9   dealer_address       79677 non-null  object
 10  source               83017 non-null  object
 11  Segment K-means PCA  83017 non-null  int64
dtypes: int64(4), object(8)
memory usage: 8.2+ MB

In [51]:
df1['car_brand'].unique()

array(['TOYOTA', 'MITSUBISHI', 'SUZUKI', 'NISSAN', 'FORD', 'HONDA',
       'MAZDA', 'HYUNDAI', 'LUXGEN', 'SUBARU', 'LEXUS', 'HINO', 'KIA',
       'BMW', 'VOLKSWAGEN', 'LAND ROVER', 'M-BENZ', 'SKODA', 'MINI',
       'VOLVO', 'AUDI', 'SMART', 'PEUGEOT', 'PORSCHE', 'CITROEN',
       'INFINITI', 'JAGUAR', 'MCC', 'SSANGYONG', 'MAHINDRA', 'ISUZU',
       'LAMBORGHINI', 'DFSK', 'FERRARI', 'ALFA ROMEO', 'CHEVROLET',
       'DODGE', 'DAIHATSU', 'MASERATI', 'PROTON', 'OPEL', 'FOTON', 'TOBE',
       'SAAB', 'FIAT', 'JEEP', 'BENTLEY', 'BENZ', 'VW', 'LAND', 'MCLAREN',
       'CHRYSLER', 'TESLA', 'MERCEDES-BENZ', 'BUICK', 'CMC', 'AUSTIN',
       'RENAULT', 'HUMMER', 'MG', 'SCION', 'ROLLS-ROYCE', 'ACURA',
       'CADILLAC', 'IVECO', 'FORMOSA', 'ASTON MARTIN', 'ASIA', '中華',
       'ŠKODA', 'MERCEDESBENZ', 'LANDROVER', 'ALFAROMEO'], dtype=object)

In [52]:
df1['dealer_address'].unique()

array(['高雄市鳥松區神農路856號', '台中市烏日區中山路三段903號', '桃園市桃園區三民路一段7-1號', ...,
       '台北市中山區松江路', '桃園市桃園區三民路三段245號', '彰化縣鹿港鎮中正路306號'], dtype=object)

In [53]:
df1['car_address'].unique()

array(['高雄市', '台中市', '桃園市', '雲林縣', '嘉義市', '新竹市', '新北市', '台北市', '屏東縣',
       '彰化縣', '嘉義縣', '基隆市', '苗栗縣', '台南市', '南投縣', '宜蘭縣', '新竹縣', '花蓮縣',
       '台東縣', nan, '屏東市'], dtype=object)

In [101]:
df1.loc[df1['car_brand'].str.contains('BENZ') == True, 'car_brand'] = 'BENZ'

df1.loc[df1['car_brand'].str.contains('中華') == True, 'car_brand'] = 'CMC'

df1.loc[df1['car_brand'].str.contains('VOLKSWAGEN') == True, 'car_brand'] = 'VW'

df1.loc[df1['car_brand'].str.contains('LAND') == True, 'car_brand'] = 'LANDROVER'

In [102]:
df1= df1.replace({'car_title': '"'}, {'car_title': ''}, regex=True)

In [103]:
df1= df1.replace({'car_title': '\'\''}, {'car_title': ''}, regex=True)

In [104]:
df1= df1.replace({'car_title': '\''}, {'car_title': ''}, regex=True)

In [ ]:
# df1= df1.replace({'car_title': '，'}, {'car_title': 'X'}, regex=True)

In [123]:
df1= df1.replace({'car_title': ','}, {'car_title': 'X'}, regex=True)

In [105]:
df1= df1.replace({'car_address': '\''}, {'car_address': ''}, regex=True)

In [106]:
df1= df1.replace({'dealer_address': '賞車地址：'}, {'dealer_address': ''}, regex=True)

In [107]:
df1= df1.replace({'dealer_address': '　'}, {'dealer_address': ''}, regex=True)

In [108]:
df1= df1.replace({'dealer_address': ' '}, {'dealer_address': ''}, regex=True)

In [130]:
df1= df1.replace({'dealer_address': '\n'}, {'dealer_address': '.'}, regex=True)

In [126]:
df1= df1.replace({'car_title': '　'}, {'car_title': '.'}, regex=True)

In [127]:
df1= df1.replace({'car_title': ' '}, {'car_title': '.'}, regex=True)

In [132]:
df1= df1.replace({'car_model': '\n'}, {'car_model': '.'}, regex=True)

In [129]:
df1= df1.replace({'car_title': '\n'}, {'car_title': '.'}, regex=True)

In [124]:
df1= df1.replace({'dealer_address': ','}, {'dealer_address': 'X'}, regex=True)

In [ ]:
# df1= df1.replace({'dealer_address': '，'}, {'dealer_address': 'X'}, regex=True)

In [109]:
df1= df1.replace({'dealer_address': '\''}, {'dealer_address': ''}, regex=True)

In [110]:
df1= df1.replace({'car_photo': '\''}, {'car_photo': ''}, regex=True)

In [111]:
df1= df1.replace({'car_brand': '\''}, {'car_brand': ''}, regex=True)

In [112]:
df1= df1.replace({'car_model': '\''}, {'car_model': ''}, regex=True)

In [113]:
df1= df1.replace({'car_title': '＂'}, {'car_title': ''}, regex=True)

In [114]:
df1['id'] = df1['id'].astype('str')

In [121]:
df1['source'] = df1['source'].astype('str')

In [115]:
df1 = df1.fillna(value=0)

In [116]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83017 entries, 0 to 85123
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   83017 non-null  object
 1   car_brand            83017 non-null  object
 2   car_model            83017 non-null  object
 3   car_year             83017 non-null  int64
 4   car_price            83017 non-null  int64
 5   car_mileage          83017 non-null  int64
 6   car_address          83017 non-null  object
 7   car_title            83017 non-null  object
 8   car_photo            83017 non-null  object
 9   dealer_address       83017 non-null  object
 10  source               83017 non-null  object
 11  Segment K-means PCA  83017 non-null  int64
dtypes: int64(4), object(8)
memory usage: 8.2+ MB

In [134]:
df1.to_csv('../csv/K-means/carList_forWebsite.csv', encoding='utf-8-sig', index=False)

In [119]:
df1.tail(10)

,id,car_brand,car_model,car_year,car_price,car_mileage,car_address,car_title,car_photo,dealer_address,source,Segment K-means PCA
85114,101114686762,TOYOTA,YARIS,2011,248000,130000,新北市,【實車在店 實車實價】亞力史 1.5頂級G版 IKEY,https://ct.yimg.com/xd/api/res/1.2/vWbnZLJJits...,新北市三峽區隆恩街220號,yahoo,4
85115,101109726350,TOYOTA,YARIS,2016,248000,37823,新北市,我要賣 2016年 TOYOTA / YARIS,https://ct.yimg.com/xd/api/res/1.2/id7wTA7ksb_...,新北市林口區文化三路一段249巷55號,yahoo,4
85116,101092702690,TOYOTA,YARIS,2012,248000,180000,新北市,2012 TOYOTA YARIS1.5G紫色 可協助全額貸款,https://ct.yimg.com/xd/api/res/1.2/FkuZJ16jkI8...,新北市樹林區中華路2-1號,yahoo,4
85117,101089208883,LUXGEN,S5,2013,248000,162780,台北市,【杰運SAVE實價認證】13年 S5 TURBO 抬頭顯示器 天窗 9吋觸控,https://ct.yimg.com/xd/api/res/1.2/mEb0hCBuJ_Q...,台北市北投區立賢路61號,yahoo,3
85118,101009061810,MAZDA,3,2012,249000,224500,台北市,古馳上精選實價刷卡2012年6月出廠馬自達3 2.0尊貴型正一手至今,https://ct.yimg.com/xd/api/res/1.2/7mb1D7L51IU...,台北市士林區福德路32號,yahoo,4
85119,101124711340,VOLVO,C30,2011,250000,74569,新北市,A自售 2011年 VOLVO C30 2.0L,https://ct.yimg.com/xd/api/res/1.2/68y95jl4xnJ...,新北市五股區新城一路,yahoo,5
85120,101123612053,SMART,FORTWO,2015,250000,50000,彰化縣,2015年 SMART 5萬公里 原鈑件 精選車況 市區超好停,https://ct.yimg.com/xd/api/res/1.2/cTkvsflnawb...,彰化縣員林鎮至善街33號,yahoo,5
85121,101122338352,LEXUS,IS,2009,250000,107508,新北市,疫情振興專案 原廠保養 凌志 IS250 2009年 認證優質好車,https://ct.yimg.com/xd/api/res/1.2/ImixFqPKS3c...,新北市汐止區康寧街附近,yahoo,5
85122,101120157122,SKODA,FABIA,2009,250000,270668,彰化縣,2009 Skoda Fabia 一手車 省稅金 好保養,https://ct.yimg.com/xd/api/res/1.2/lAurFTLJStq...,彰化縣鹿港鎮中正路306號,yahoo,5
85123,101120131242,BMW,3SERIESSEDAN,2014,250000,66487,新北市,[歐德義國際] 2014年 BMW 320 貴婦買菜車託售,https://ct.yimg.com/xd/api/res/1.2/1lVn_EC9Xu1...,新北市五股區新城一路60號,yahoo,5

In [122]:
df1['source'].unique()

array(['HOT', 'SUM', '8891', 'isave', 'abc', 'usedcar', 'ucar', 'yahoo'],
      dtype=object)