In [40]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)

In [84]:
df = pd.read_csv('../csv/K-means/cars_segmentation_20210805.csv', index_col=0)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (1,36) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85124 entries, 0 to 85123
Data columns (total 80 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   85124 non-null  object
 1   car_brand            85124 non-null  object
 2   car_model            85124 non-null  object
 3   car_year             85124 non-null  float64
 4   car_mileage          83017 non-null  float64
 5   car_price            85124 non-null  float64
 6   car_color            83186 non-null  object
 7   car_cylinderVolume   85124 non-null  float64
 8   car_driveMode        79346 non-null  float64
 9   car_fuel             78469 non-null  object
 10  car_gear             84769 non-null  object
 11  verified             79437 non-null  float64
 12  car_address          81932 non-null  object
 13  car_title            83884 non-null  object
 14  car_photo            76657 non-null  object
 15  dealer_name          85124 non-null  object
 16  dealer_address       81784 non-null  object
 17  sunroof              81085 non-null  float64
 18  TPMS                 77881 non-null  float64
 19  SRS                  85124 non-null  float64
 20  keyless              81085 non-null  float64
 21  ESP                  50710 non-null  float64
 22  ABS                  84389 non-null  float64
 23  cruise_sys           78616 non-null  float64
 24  HID_head             20413 non-null  float64
 25  isofix               48227 non-null  float64
 26  electric_seat        49154 non-null  float64
 27  auto_AC              85124 non-null  float64
 28  navi_sys             81085 non-null  float64
 29  IVI_sys              81085 non-null  float64
 30  leather_seat         80350 non-null  float64
 31  parking_radar        53179 non-null  float64
 32  parking_camera       78616 non-null  float64
 33  BSM                  44380 non-null  float64
 34  LDW                  42632 non-null  float64
 35  source               85124 non-null  object
 36  car_door             45161 non-null  float64
 37  car_seat             71235 non-null  float64
 38  theft_alarm          41964 non-null  float64
 39  central_lock         41964 non-null  float64
 40  TCS                  72353 non-null  float64
 41  LED_head             45182 non-null  float64
 42  SW_button            69135 non-null  float64
 43  ACC                  10946 non-null  float64
 44  component0           85124 non-null  float64
 45  component1           85124 non-null  float64
 46  component2           85124 non-null  float64
 47  component3           85124 non-null  float64
 48  component4           85124 non-null  float64
 49  component5           85124 non-null  float64
 50  component6           85124 non-null  float64
 51  component7           85124 non-null  float64
 52  component8           85124 non-null  float64
 53  component9           85124 non-null  float64
 54  component10          85124 non-null  float64
 55  component11          85124 non-null  float64
 56  component12          85124 non-null  float64
 57  component13          85124 non-null  float64
 58  component14          85124 non-null  float64
 59  component15          85124 non-null  float64
 60  component16          85124 non-null  float64
 61  component17          85124 non-null  float64
 62  component18          85124 non-null  float64
 63  component19          85124 non-null  float64
 64  component20          85124 non-null  float64
 65  component21          85124 non-null  float64
 66  component22          85124 non-null  float64
 67  component23          85124 non-null  float64
 68  component24          85124 non-null  float64
 69  component25          85124 non-null  float64
 70  component26          85124 non-null  float64
 71  component27          85124 non-null  float64
 72  component28          85124 non-null  float64
 73  component29          85124 non-null  float64
 74  component30          85124 non-null  float64
 75  component31          85124 non-null  float64
 76  component32          85124 non-null  float64
 77  component33          85124 non-null  float64
 78  component34          85124 non-null  float64
 79  Segment K-means PCA  85124 non-null  int64
dtypes: float64(67), int64(1), object(12)
memory usage: 52.6+ MB

In [91]:
cols=['id','car_brand','car_model','car_year','car_price','car_mileage','car_address','car_title','car_photo','dealer_address','source','Segment K-means PCA']

In [92]:
df1=df[cols]

In [93]:
df1 = df1.dropna(subset=['car_brand','car_model','car_mileage','car_price'],axis=0)

In [94]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83017 entries, 0 to 85123
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   83017 non-null  object
 1   car_brand            83017 non-null  object
 2   car_model            83017 non-null  object
 3   car_year             83017 non-null  float64
 4   car_price            83017 non-null  float64
 5   car_mileage          83017 non-null  float64
 6   car_address          79825 non-null  object
 7   car_title            81777 non-null  object
 8   car_photo            74550 non-null  object
 9   dealer_address       79677 non-null  object
 10  source               83017 non-null  object
 11  Segment K-means PCA  83017 non-null  int64
dtypes: float64(3), int64(1), object(8)
memory usage: 8.2+ MB

In [95]:
df1['car_year']=df1['car_year'].astype(int)

In [96]:
df1['car_price']=df1['car_price'].astype(int)

In [97]:
df1['car_mileage']=df1['car_mileage'].astype(int)

In [50]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83017 entries, 0 to 85123
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   83017 non-null  object
 1   car_brand            83017 non-null  object
 2   car_model            83017 non-null  object
 3   car_year             83017 non-null  int64
 4   car_price            83017 non-null  int64
 5   car_mileage          83017 non-null  int64
 6   car_address          79825 non-null  object
 7   car_title            81777 non-null  object
 8   car_photo            74550 non-null  object
 9   dealer_address       79677 non-null  object
 10  source               83017 non-null  object
 11  Segment K-means PCA  83017 non-null  int64
dtypes: int64(4), object(8)
memory usage: 8.2+ MB

In [51]:
df1['car_brand'].unique()

array(['TOYOTA', 'MITSUBISHI', 'SUZUKI', 'NISSAN', 'FORD', 'HONDA',
       'MAZDA', 'HYUNDAI', 'LUXGEN', 'SUBARU', 'LEXUS', 'HINO', 'KIA',
       'BMW', 'VOLKSWAGEN', 'LAND ROVER', 'M-BENZ', 'SKODA', 'MINI',
       'VOLVO', 'AUDI', 'SMART', 'PEUGEOT', 'PORSCHE', 'CITROEN',
       'INFINITI', 'JAGUAR', 'MCC', 'SSANGYONG', 'MAHINDRA', 'ISUZU',
       'LAMBORGHINI', 'DFSK', 'FERRARI', 'ALFA ROMEO', 'CHEVROLET',
       'DODGE', 'DAIHATSU', 'MASERATI', 'PROTON', 'OPEL', 'FOTON', 'TOBE',
       'SAAB', 'FIAT', 'JEEP', 'BENTLEY', 'BENZ', 'VW', 'LAND', 'MCLAREN',
       'CHRYSLER', 'TESLA', 'MERCEDES-BENZ', 'BUICK', 'CMC', 'AUSTIN',
       'RENAULT', 'HUMMER', 'MG', 'SCION', 'ROLLS-ROYCE', 'ACURA',
       'CADILLAC', 'IVECO', 'FORMOSA', 'ASTON MARTIN', 'ASIA', '中華',
       'ŠKODA', 'MERCEDESBENZ', 'LANDROVER', 'ALFAROMEO'], dtype=object)

In [52]:
df1['dealer_address'].unique()

array(['高雄市鳥松區神農路856號', '台中市烏日區中山路三段903號', '桃園市桃園區三民路一段7-1號', ...,
       '台北市中山區松江路', '桃園市桃園區三民路三段245號', '彰化縣鹿港鎮中正路306號'], dtype=object)

In [53]:
df1['car_address'].unique()

array(['高雄市', '台中市', '桃園市', '雲林縣', '嘉義市', '新竹市', '新北市', '台北市', '屏東縣',
       '彰化縣', '嘉義縣', '基隆市', '苗栗縣', '台南市', '南投縣', '宜蘭縣', '新竹縣', '花蓮縣',
       '台東縣', nan, '屏東市'], dtype=object)

In [101]:
df1.loc[df1['car_brand'].str.contains('BENZ') == True, 'car_brand'] = 'BENZ'

df1.loc[df1['car_brand'].str.contains('中華') == True, 'car_brand'] = 'CMC'

df1.loc[df1['car_brand'].str.contains('VOLKSWAGEN') == True, 'car_brand'] = 'VW'

df1.loc[df1['car_brand'].str.contains('LAND') == True, 'car_brand'] = 'LANDROVER'

In [102]:
df1= df1.replace({'car_title': '"'}, {'car_title': ''}, regex=True)

In [103]:
df1= df1.replace({'car_title': '\'\''}, {'car_title': ''}, regex=True)

In [104]:
df1= df1.replace({'car_title': '\''}, {'car_title': ''}, regex=True)

In [ ]:
# df1= df1.replace({'car_title': '，'}, {'car_title': 'X'}, regex=True)

In [123]:
df1= df1.replace({'car_title': ','}, {'car_title': 'X'}, regex=True)

In [105]:
df1= df1.replace({'car_address': '\''}, {'car_address': ''}, regex=True)

In [106]:
df1= df1.replace({'dealer_address': '賞車地址：'}, {'dealer_address': ''}, regex=True)

In [107]:
df1= df1.replace({'dealer_address': '　'}, {'dealer_address': ''}, regex=True)

In [108]:
df1= df1.replace({'dealer_address': ' '}, {'dealer_address': ''}, regex=True)

In [130]:
df1= df1.replace({'dealer_address': '\n'}, {'dealer_address': '.'}, regex=True)

In [126]:
df1= df1.replace({'car_title': '　'}, {'car_title': '.'}, regex=True)

In [127]:
df1= df1.replace({'car_title': ' '}, {'car_title': '.'}, regex=True)

In [132]:
df1= df1.replace({'car_model': '\n'}, {'car_model': '.'}, regex=True)

In [129]:
df1= df1.replace({'car_title': '\n'}, {'car_title': '.'}, regex=True)

In [124]:
df1= df1.replace({'dealer_address': ','}, {'dealer_address': 'X'}, regex=True)

In [ ]:
# df1= df1.replace({'dealer_address': '，'}, {'dealer_address': 'X'}, regex=True)

In [109]:
df1= df1.replace({'dealer_address': '\''}, {'dealer_address': ''}, regex=True)

In [110]:
df1= df1.replace({'car_photo': '\''}, {'car_photo': ''}, regex=True)

In [111]:
df1= df1.replace({'car_brand': '\''}, {'car_brand': ''}, regex=True)

In [112]:
df1= df1.replace({'car_model': '\''}, {'car_model': ''}, regex=True)

In [113]:
df1= df1.replace({'car_title': '＂'}, {'car_title': ''}, regex=True)

In [114]:
df1['id'] = df1['id'].astype('str')

In [121]:
df1['source'] = df1['source'].astype('str')

In [115]:
df1 = df1.fillna(value=0)

In [116]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83017 entries, 0 to 85123
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   83017 non-null  object
 1   car_brand            83017 non-null  object
 2   car_model            83017 non-null  object
 3   car_year             83017 non-null  int64
 4   car_price            83017 non-null  int64
 5   car_mileage          83017 non-null  int64
 6   car_address          83017 non-null  object
 7   car_title            83017 non-null  object
 8   car_photo            83017 non-null  object
 9   dealer_address       83017 non-null  object
 10  source               83017 non-null  object
 11  Segment K-means PCA  83017 non-null  int64
dtypes: int64(4), object(8)
memory usage: 8.2+ MB

In [134]:
df1.to_csv('../csv/K-means/carList_forWebsite.csv', encoding='utf-8-sig', index=False)

In [119]:
df1.tail(10)

,id,car_brand,car_model,car_year,car_price,car_mileage,car_address,car_title,car_photo,dealer_address,source,Segment K-means PCA
85114,101114686762,TOYOTA,YARIS,2011,248000,130000,新北市,【實車在店 實車實價】亞力史 1.5頂級G版 IKEY,https://ct.yimg.com/xd/api/res/1.2/vWbnZLJJits...,新北市三峽區隆恩街220號,yahoo,4
85115,101109726350,TOYOTA,YARIS,2016,248000,37823,新北市,我要賣 2016年 TOYOTA / YARIS,https://ct.yimg.com/xd/api/res/1.2/id7wTA7ksb_...,新北市林口區文化三路一段249巷55號,yahoo,4
85116,101092702690,TOYOTA,YARIS,2012,248000,180000,新北市,2012 TOYOTA YARIS1.5G紫色 可協助全額貸款,https://ct.yimg.com/xd/api/res/1.2/FkuZJ16jkI8...,新北市樹林區中華路2-1號,yahoo,4
85117,101089208883,LUXGEN,S5,2013,248000,162780,台北市,【杰運SAVE實價認證】13年 S5 TURBO 抬頭顯示器 天窗 9吋觸控,https://ct.yimg.com/xd/api/res/1.2/mEb0hCBuJ_Q...,台北市北投區立賢路61號,yahoo,3
85118,101009061810,MAZDA,3,2012,249000,224500,台北市,古馳上精選實價刷卡2012年6月出廠馬自達3 2.0尊貴型正一手至今,https://ct.yimg.com/xd/api/res/1.2/7mb1D7L51IU...,台北市士林區福德路32號,yahoo,4
85119,101124711340,VOLVO,C30,2011,250000,74569,新北市,A自售 2011年 VOLVO C30 2.0L,https://ct.yimg.com/xd/api/res/1.2/68y95jl4xnJ...,新北市五股區新城一路,yahoo,5
85120,101123612053,SMART,FORTWO,2015,250000,50000,彰化縣,2015年 SMART 5萬公里 原鈑件 精選車況 市區超好停,https://ct.yimg.com/xd/api/res/1.2/cTkvsflnawb...,彰化縣員林鎮至善街33號,yahoo,5
85121,101122338352,LEXUS,IS,2009,250000,107508,新北市,疫情振興專案 原廠保養 凌志 IS250 2009年 認證優質好車,https://ct.yimg.com/xd/api/res/1.2/ImixFqPKS3c...,新北市汐止區康寧街附近,yahoo,5
85122,101120157122,SKODA,FABIA,2009,250000,270668,彰化縣,2009 Skoda Fabia 一手車 省稅金 好保養,https://ct.yimg.com/xd/api/res/1.2/lAurFTLJStq...,彰化縣鹿港鎮中正路306號,yahoo,5
85123,101120131242,BMW,3SERIESSEDAN,2014,250000,66487,新北市,[歐德義國際] 2014年 BMW 320 貴婦買菜車託售,https://ct.yimg.com/xd/api/res/1.2/1lVn_EC9Xu1...,新北市五股區新城一路60號,yahoo,5

In [122]:
df1['source'].unique()

array(['HOT', 'SUM', '8891', 'isave', 'abc', 'usedcar', 'ucar', 'yahoo'],
      dtype=object)